body{
    background: wheat;
}

h1{
    text-align: center;
    background: yellow;
}

button{
    background: greenyellow;
    font-size: 1.2 rem;
    border: 2px solid green;
    border-radius: 3px;
}